---
interface Props {
    name: string;
    passive: string;
    description: string;
    scalings: string[][];
    rarity: number;
    path: string;
}

const { name, rarity, passive, description, scalings, path } = Astro.props;
---

<li>
    <div class="WeaponImageContainer">
        <img id={path} alt="Weapon Art" src={`/P5XWiki/weapons/${path}.png`}/>
    </div>
    <div class="WeaponInfo">
        <h2>{name} {'★'.repeat(rarity)}</h2>
        <h3>{passive}</h3>
        <p>{scalings[0].reduce((acc, cur) => acc.replace("%s",cur),description)}</p>
    </div>
</li>
<script define:vars={{path}}>
    const img = document.getElementById(path)
    img.addEventListener("error", function(event) {
        event.preventDefault()
        event.onerror = null
        event.target.src = "/P5XWiki/ErrorMessage.png"
    })
</script>
<style>
    li {
        display: grid;
        grid-template-columns: 1fr 2fr;
        align-items: center;
        gap: 4rem;
        width: 100%;
        height: 100%;
    }

    li .WeaponImageContainer{
        grid-area: 1/1/2/2;
        display: flex;
        justify-content:center;
        align-content: center;
    }

    li .WeaponImageContainer img{
        max-height: 300px;
    }

    p, h2, h3 {
        white-space: pre-wrap;
    }

    @media only screen and (max-width: 768px) {
        li {
            display: grid;
            grid-template-columns: 1fr;
            align-items: center;
            gap: 4rem;
            width: 100%;
            height: 100%;
        }

        p,h2,h3{
            text-align:center;
        }
    }

</style>